[submodule "service/product-service"]
	path = service/product-service
	url = git@github.com:cmiwjaeger/edot-product-service.git
[submodule "services/product-service"]
	path = services/product-service
	url = git@github.com:cmiwjaeger/edot-product-service.git
